$light:#fff;
$dark:#000;

$green: #60B021;
$linear1:#8EE902;
$linear2:#4F9C2C;

$skygrey:#E3E3E3;
$lightgrey:#F5F5F5;
$grey:#75758A;
$darkgrey:#6A6D7D;

$border:#EFEFEF;

$boxshadow: 0px 2px 6px rgba(0, 0, 0, 0.15);